HELP.md
/src/**/resources/static/**
.gradle
.gradle-home
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
.intellijPlatform
.kotlin
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Misc ###
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
tasks/lessons.md
